<div class="container dashboard overflow-auto">
    <div class="row d-none d-sm-block">
        <div class="sidemenu">
            <ul class="sidemenuelements">
                <a href="#"><li>Perfil</li></a>
                <a href="#"><button class="boton-menu"><li>Menú principal</li></button></a>
                <a href="#"><li>Próximas Citas</li></a>
                <a href="#"><li>Mensajes</li></a>
                <a href="#"><li>Historial</li></a>
            </ul>
        </div>
    </div>
    <div class="main">
            <div class="row">
                <h3>
                    Bienvenido/a Paciente
                </h3>
            </div>
            <div class="row p-4">
                <div class="col-md-4">
                    <a href="#"><button class="boton-menu--dash btn btn-secondary" type="button"><li>Buscar Profesional</li></button></a>
                </div>
                <div class="col-4 d-block d-sm-none">&nbsp;</div>
                <div class="col-md-4">
                    <a href="#"><button (click)="cambiarContrasena()" class="boton-menu--dash btn btn-secondary" type="button"><li>Cambiar Contraseña</li></button></a>
                </div> 
            </div>
            <div class="row p-4"> 
                <div class="col-md-4">
                    <a href="#"><button class="boton-menu--dash btn btn-secondary" type="button"><li>Mensajes</li></button></a>
                </div>
                <div class="col-4 d-block d-sm-none">&nbsp;</div>
                <div class="col-md-4">
                    <a href="#"><button class="boton-menu--dash btn btn-secondary" type="button"><li>Historial</li></button></a>
                </div>
            </div>
            <div class="col-4 d-block d-sm-none">&nbsp;</div>
    </div>
</div>
