<div class="container dashboard">
    <div class="row">
            <div class="sidemenu">
                <ul class="sidemenuelements">
                    <a href="#"><li>Perfil</li></a>
                    <a href="#"><button class="boton-menu"><li>Menú principal</li></button></a>
                    <a href="#"><li>Próximas Citas</li></a>
                    <a href="#"><li>Mensajes</li></a>
                    <a href="#"><li>Pacientes</li></a>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <h6>
                    Bienvenido/a Paciente
                </h6>
                <div class="row p-4">
                    <div class="col-4">
                        <a href="#"><button class="boton-menu--dash btn btn-secondary" type="button"><li>Buscar Profesional</li></button></a>
                    </div>    
                    <div class="col-4">
                        <a href="#"><button style="margin-left: 100px" class="boton-menu--dash btn btn-secondary" type="button"><li>Próximas citas</li></button></a>
                    </div> 
                </div>   
                <div class="row p-4"> 
                    <div class="col-4">
                        <a href="#"><button class="boton-menu--dash btn btn-secondary" type="button"><li>Mensajes</li></button></a>
                    </div>
                    <div class="col-4">
                        <a href="#"><button  style="margin-left: 100px" class="boton-menu--dash btn btn-secondary" type="button"><li>Historial</li></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
