@charset "UTF-8";

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f0eaf1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
section {
  background-image: url("../imgs/fondo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
nav {
  background-color: #f0eaf1;
}
footer{
  background-color: #635676;
  padding-top: 5%;
  color: #fff;
  width: 100%;
}
.especi {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  color: #777578;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.display-2 {
  margin-bottom: 1.4rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.display-2--intro {
  display: inline-block;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.display-2--description {
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 1.2rem;
  text-transform: none;

}
.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: #9926f0;
}
.menu li {
  padding: 0 0.7rem;
}
.menu li a {
  color: #fff;
  padding: 0 0.7rem;
  text-transform: capitalize;
  font-weight: 600;
}
.menu li:hover {
  color: #fff;
}
.intro-section {
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}
.btn-primary {
  color: #fff;
  background-color: #9926f0;
  border-color: #9926f0;
}