<div class="container">
    <div class="row">
        <div class="display-2--description lh-base text-black-50 col-12 text-center">Iniciar Sesión</div>
        <h6 class="text-center" style="color: #777578;">Ingresa tus datos para iniciar sesión</h6>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="display-2--description lh-base text-black-50 col-6 text-center">
                  <div class="col-10 display-2--description lh-base mt-4 mb-4">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text bg-white border-0 p-lg-3 fas fa-user"></span>
                        <input type="text" class="form-control border-0" placeholder="Usuario">
                  </div><br>
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text bg-white border-0 p-lg-3 fas fa-key"></span>
                    <input type="text" class="form-control border-0" placeholder="Contraseña">
              </div>
                </div>
                <div class="col-12 display-2--description lh-base">
                    <div class="input-group flex-nowrap">
                        <div class="col"><button class="btn btn-primary btn-lg"> Iniciar Sesión</button></div>
                  </div>
                </div>
        </div>
        <div class="col-3"></div>
      </div>
  </div>