$color-text: #7C7182
$semibold-weight: 600

nav 
    background-color: #f0eaf1
    color:color-text
    font-family: Roboto, $semibold-weight
    padding-top: 20px
    padding-bottom: 20px
    padding-right: 10px

img
    height: 120px

.nav-item
    margin-inline-start: 40px