<ul class="nav nav-tabs nav-stacked justify-content-end">

        <li class="nav-item"><a class="nav-link text-black-50" href="#">Reservas</a></li>
        <li class="nav-item"><a class="nav-link text-black-50" href="#">¿Quiénes Somos?</a></li>
        <li class="nav-item"><a class="nav-link text-black-50" href="#">Blog</a></li>
        <li class="nav-item"><a class="nav-link text-black-50" href="#">Registrarme</a></li>
        <li class="nav-item"><a class="nav-link text-black-50" href="#">Iniciar sesión</a></li>       
</ul>