<div class="container blog">
    <div class="blog-post">
      <div class="row">
        <div class="col-9">
          <span>
            Articulos de Psicología
          </span>
          <h3>Guía para saber prestar auxilio emocional</h3>
          <p>A veces, las personas de nuestro alrededor lo están pasando mal y nos cuesta saber cómo reaccionar para prestarles apoyo............</p>    
        </div>
        <div class="col-3">
          <img src="assets/arct1.png" width="300px">
        </div>
      </div>
    </div>
    <div class="blog-post">
      <div class="row">
        <div class="col-9">
          <span>
            Articulos de Psicología
          </span>
          <h3>Las raices de la amistad</h3>
          <p>¿Para qué están los amigos? ¿Por qué los elegimos? Los investigadores han descubierto paralelismos asombrosos entre los humanos y los animales.............</p>    
        </div>
        <div class="col-3">
          <img src="assets/artc2.png" width="300px">
        </div>
      </div>
    </div>
  </div>