<footer>
    <div class="container">
        <div class="col-12 text-center">
          Siguenos en Instagram y Facebook
        </div>
        <div class="row">
          <div class="col-4">
            <div class="row">
              <div class="col-6">
                <img style="height: 200px;" src="logobox.png">
              </div>
              <div class="col-6">
                <p class="text-right">Telefonos: <br/>+56 (22) 456 7890<br/>+56 (22) 456 7890</p>
              </div>
            </div>
          </div>
          <div class="col-4">

          </div>
          <div class="col-4">
            <p class="text-right">Casa Matriz <br/>Av. Vitacura #3720, Santiago de Chile<br/> Edificio los Alerces <br /> Oficina 24</p>
          </div>
        </div>
        <div class="col-12 text-center">
          &copy; 2022 Psiconline.cl | Todos los Derechos Reservados
        </div>
      </div>
</footer>