<div class="container">
    <div class="row">
      <div class="display-2--description lh-base text-black-50 col-12 text-center">¿Quiénes Somos?</div>
    </div>

    <div class="row">
      <div class="col-12 text-center">Somos una red de psicólogos que ofrecemos nuestros servicios a pacientes que tengan un problema en el área de la salud mental, nuestro equipo cuenta con diversos profesionales en salud mental con su respectiva especialidad dependiendo del tema a abarcar, puedes elegir una cita con uno de nuestros psicólogos de manera online y/o presencial.</div>
    </div>
    <div class="row">
      <div class="col-12 text-center"><img src="assets/saludmental.png"></div>
    </div>
</div>