body{
    background-color: #F0EAF1;

    font-family:'Roboto',sans-serif;
}

.header{
    background-color: #F0EAF1;
    color:#7C7182;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}

.header a{
    color:#7C7182;
    text-decoration: none;
    text-align: center;
    font-family:'Roboto',sans-serif;
    font-size: 17px;
    
}
.container{
    width:40%;
    max-width: 1850px;
}
.logo-psico{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-psico img{
    width: 610px;
    height: 130px;
}

nav a{
    font-weight: 600;
    padding-right: 30px;
    margin-right: 30px;
}

nav a:hover{
    color:rgb(174, 120, 225);
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding:10px 0px
    }
}

#buscador{
    width:60%;
    float: right;
    
  }
  
  #buscador input[type="search"]{
    width:65%;
    height: 38px;
    border:2px solid rgb(230, 224, 224);
    border-radius: 5px 5px 5px 5px;
    float: right;
    margin-right: 140px;
    
  }


  #buscador form{
    width:60%;
    float: right;

  }

  #text{
    float: left;
    color:#655D69;
    margin-left: 120px;
    font-family: 'Candara';
    font-size: 18px;
    font-style: Bold italic;
    text-align: center;
    justify-content: space-between;
    padding: 5px 50px;
    align-items: center;
    margin-bottom: 20px;

  }

  #image-font img{
    float: right;
    width: 500px;
    height: 500px;
    padding: 40px 120px;
  }

.spacer{
    width: 20%;
    position: relative;
}

.searchbox {
    width: 500px;
    text-align: center;
    position: relative;
}

.dropdown {
  margin:50px 0px 40px 330px;	
  border:1px solid #d9d9d9;
  height:30px;
  width: 100%;
  position: relative;
}

 select {
    background: white;
    border: none;
    height: 30px;
    padding: 5px;
    width: 250px;
    color:#6a6666;
    font-family: 'lato';
 }
 select:focus{ outline: none;}
 


 .button{
    background-color: #7F55BD;
    border: none;
    color: white;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 1px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-left: 140px;
    border-radius: 5px 5px 5px 5px;
}
.button1:hover {
    box-shadow: 0 20px 16px 0 rgba(102, 99, 99, 0.24),0 20px 30px 0 rgba(99, 96, 96, 0.19);

}

body {
    text-align: center;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: #7F55BD;
    border-radius: 4px;
    width: 220px;
    text-align: left;
  }
  
  .dropdown > a,
  .dropdown > span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 10px 25px 10px 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .dropdown > a:before,
  .dropdown > span:before {
    position: absolute;
    right: 25px;
    top: 15px;
    content: " ";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    cursor: none;
  }
  
  .dropdown input[type="checkbox"] {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 0;
    cursor: pointer;
  }
  
  .dropdown input[type="checkbox"]:checked {
    position: fixed;
    z-index: +0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .dropdown label {
    width: 100%;
  }
  .dropdown ul {
    text-align: left;
    position: absolute;
    top: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;
    left: 0px;
    list-style: none;
    padding: 4px 0px;
    display: none;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
    width: 220px;
    z-index: 100;
  }
  
  .dropdown input[type="checkbox"]:checked + ul {
    display: block;
  }
  
  .dropdown ul li {
    display: block;
    padding: 6px 20px;
    white-space: nowrap;
    min-width: 100px;
  }
  
  .dropdown ul li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .dropdown ul li a {
    text-decoration: none;
    display: block;
    color: black;
  }
  .dropdown .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    font-size: 1px;
    padding: 0;
  }
  .dropdown:hover {
    background-position: right center;
  }
  
  .dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 20px;
    margin: 1%;
    height: 500px;

  }

  .sidemenu {
      background-color: white;
      border-radius: 20px;
      padding: 30px;
      color:#7C7182;
  }
  .sidemenu ul {
      text-align: left;
  }

  .sidemenuelements li{
      padding-top: 10px;
      font-weight: bold;
      text-decoration: none;
  }
  .sidemenuelements li:hover{
    color:rgb(174, 120, 225);
  }
  .main {
      padding: 30px;
      background-color: white;
      border-radius: 20px;
  }
  .main h1{
      text-align: left;
      font-weight: bold;
      font-size: 25pt;
      margin-bottom: 25px;
        font-family:'Roboto',sans-serif;
        color:#7C7182;
  }
  .main table{
      width: 100%;
      border:rgba(102, 99, 99, 0.24) 1px solid;
  }
  .main th{
    border:rgba(102, 99, 99, 0.24) 1px solid;
    color:#7C7182;
    background-color: #F0EAF1;
    vertical-align: middle;
    font-weight: bold;
  }
  .main td{
    border:rgba(102, 99, 99, 0.24) 1px solid;
    vertical-align: middle;
  }
  .main tr{
    height: 40px;
  }
  a {
    color: inherit; 
    text-decoration: inherit;
  }

#titulo{
    font-size: 42px;
    color:#7F55BD;
    font-family: Candara;
    text-align: center;
    padding: 20px;
}
#texto{
    font-size: 20px;
    font-family: Candara;
    width: 50%;
    text-align: center;
    margin: auto;

}

#img1 img{
    padding: 40px;
    width: 550px;
    height: 350px;
    align-items: center;
}

.contenedor-registro h2{
    font-size: 60px;
    font-family: Candara;
    text-align: center;
    margin-bottom: 30px;
    color: #7F55BD;
}

.contenedor-registro{
    display: flex;
    align-items: center;
    width:100%;
    max-width: 600px;
    position: relative;
    left: 30%;
}
.contenedor-registro form{
    width:100%;
    padding: 80px 20px;
    background: #fff;
    position: center;
    border-radius: 20px;
}

.contenedor-registro form input{
    width: 100%;
    font-family: Candara;
    margin-top: 20px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background: #f2f2f2;
    font-size: 18px;
}

.contenedor-registro form button{
    padding: 15px 20px;
    font-family: Candara;
    border-radius: 20px;
    background: #7F55BD;
    margin-top: 20px;
    color: white;
}
