<app-cita-online></app-cita-online>
<div id="block-1">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h3>Terapias Psicologicas</h3>
            </div>
            <div class="col-md-3 d-none d-md-block">
                <img src="assets/port1.png" class="img-fluid">
            </div>
            <div class="col-md-5">
                <ul>
                <li>Depresión</li>
                <li>Ansiedad</li>
                <li>Duelo</li>
                <li>Depresión Infantil</li>
                <li>Autoestima</li>
                <li>Terapia de Pareja</li>
                <li>Terapia Familiar</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                <li>Terapia Cognitivo Conductual</li>
                <li>Estrés Postraumatico</li>
                <li>Drogadicción</li>
                <li>Bulimia</li>
                <li>Anorexia</li>
                <li>Fobias</li>
                <li>Psicología Laboral</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    
<div class="container" id="block-2">
    <div class="row">
      <div class="text-center">
        <h2>Preguntas Frecuentes</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <ul>
          <li>Escucho voces y no se de donde provienen ¿es esquizofrenia?</li>
          <li>He pensado en suicidarme, ¿tengo depresión?</li>
          <li>Me da asco verme al espejo ¿Como puedo aceptar mi cuerpo?</li>
          <li>Hace un año fallecio mi hijo ¿Como puedo seguir adelante? Ayuda</li>
          <li>¿Como lo hago para superar mis miedos?</li>
          <li>No se que hacer con mi vida, necesito orientación</li>
          <li>Tengo crisis de panico muy seguido, no estoy bien.</li>
        </ul>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <img src="assets/port2.png" class="img-fluid">
      </div>
    </div>
</div>