
    <div class="box-root padding-top--10 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 8;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h3><a rel="dofollow">Cambiar Contraseña de Administrador</a></h3>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15">Ingrese los datos requeridos para cambiar su contraseña</span>
              <form [formGroup]="formulario" (ngSubmit)="changePassword()" id="stripe-login" method="post">
                <div class="field padding-bottom--24">
                  <input formControlName="oldpassword" type="password" name="oldpassword" placeholder="Contraseña Antigua">
                </div>
                <div class="field padding-bottom--24">
                  <div class="grid--50-50">
                  </div>
                  <input formControlName="newpassword" type="password" name="newpassword" placeholder="Contraseña Nueva">
                </div>
                <div class="field padding-bottom--20">
                  <input type="submit" name="submit" value="Cambiar Contraseña">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  