
    <div class="box-root padding-top--10 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 8;">
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h3><a rel="dofollow">Registrarse</a></h3>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Ingresa tus datos para registrarte</span>
            <div class="reset-pass">
              <a routerLink="/login">¿Ya tienes cuenta? inicia sesión acá</a>
            </div>
            <form [formGroup]="formulario" (ngSubmit)="validacion" id="stripe-signup" action="" method="post">
              <div class="field padding-bottom--24">
                <div>
                  <label for="validationCustom01" class="form-label"></label>
                  <input formControlName="nombre"  type="name" name="name" id="validationCustom01" placeholder="Nombre">
                  <div class="valid-feedback">Correcto</div>
                  <div class="invalid-feedback">Ingrese un nombre</div>
                </div>
                <div>
                  <label for="validationLastName" class="form-label"></label>
                  <input formControlName="apellido" type="lastname" id="validationLastName" name="lastname" placeholder="Apellido">
                  <div class="valid-feedback">Correcto</div>
                  <div class="invalid-feedback">Ingrese un apellido</div>
                </div>
                <div>
                  <label for="validationMail" class="form-label"></label>
                <input formControlName="email" type="email" name="email" id="validationMail"  placeholder="Email">
                  <div class="valid-feedback">Correcto</div>
                  <div class="invalid-feedback">Ingrese un mail válido</div>
              </div>
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                </div>
                <input formControlName="password" type="password" name="password" placeholder="Contraseña">
                <input formControlName="passwordRepeat" type="password" name="passwordrepeat" placeholder="Repetir contraseña">
              </div>
              <li>
                <button type="submit" name="submit" value="Registrarse">Registarse</button>
              </li>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script data-main="/Psiconline/js/app/screen/sign-up/sign-up.component.js" src="/Psiconline/js/require-jquery.js"></script>