<div class="container-fluid">  
    <div class="row">
        <div class="sidemenu">
            <ul class="sidemenuelements">
                <a href="perfilMedico.html"><li>Perfil</li></a>
                <a href="#"><button class="boton-menu"><li>Menú principal</li></button></a>
                <a href="disponibilidadMedico.html"><li>Disponibilidad</li></a>
                <a href="proximascitasMedico.html"><li>Próximas citas</li></a>
                <a href="pacientesMedico.html"><li>Pacientes</li></a>
                <a href="historialMedico.html"><li>Historial</li></a>
            </ul>
        </div>
    </div>
</div>  