<div class="container-fluid">
    <div class="row">
        <div class="list-group">
          <div class="row p-4">
            <div class="col-4">
                <a routerLink="/createPsicologo"><button class="boton-menu--dash btn btn-secondary" type="button"><li>Crear Psicologo</li></button></a>
            </div>    
            <div class="col-4">
                <a ><button (click)="listarPsicologos()" style="margin-left: 100px" class="boton-menu--dash btn btn-secondary" type="button"><li>Ver todos los psicologos</li></button></a>
            </div> 
        </div>   
            
          </div>
    </div>
</div>
