<div class="container">
    <div class="row">
      <i class="fa fa-align-right" aria-hidden="true">
        <div class="col-6 display-2--description lh-base" id="search">
          <div class="input-group flex-nowrap">
              <span class="input-group-text bg-white border-0 p-lg-3 fas fa-search"></span>
              <input type="text" class="form-control border-0" placeholder="Buscar especialista">
          </div>
        </div>
      </i>
    </div>
      
      <div class="row">
        <div class="display-2--description lh-base text-black-50 col-6 text-center">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 mt-4 mb-4 ">
                    <div class="col"><button class="btn btn-primary disable">Cita presencial</button></div>
                    <div class="col"><button class="btn btn-primary active"> Cita online</button></div>
                  </div>
                  <div class="col-10 display-2--description lh-base mt-4 mb-4">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text bg-white border-0 p-lg-3 fas fa-search"></span>
                        <input type="text" class="form-control border-0" placeholder="Especialidad a tratar">
                  </div>
                </div>
                <div class="col-12 display-2--description lh-base">
                    <div class="input-group flex-nowrap">
                        <div class="col"><button class="btn btn-primary"> Buscar</button></div>
                  </div>
                </div>
        </div>
        <div class="col-6  display-2--description lh-base">
          <div class="input-group flex-nowrap">
            <img src="assets/pro.png" class="img-fluid">
          </div>
        </div>

</div>
