<div class="container">
      <div class="row">
        <div class="col-9">
          <span>
            Articulos de Psicología
          </span>
          <h3>Guía para saber prestar auxilio emocional</h3>
          <h6>A veces, las personas de nuestro alrededor lo están pasando mal y nos cuesta saber cómo reaccionar para prestarles apoyo............</h6>    
        </div>
        <div class="col-3">
          <img src="assets/arct1.png" class="img-fluid" max-width="300px">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-9">
          <h3>Las raices de la amistad</h3>
          <h6>¿Para qué están los amigos? ¿Por qué los elegimos? Los investigadores han descubierto paralelismos asombrosos entre los humanos y los animales.............</h6>    
        </div>
        <div class="col-3">
          <img src="assets/artc2.png" class="img-fluid" max-width="300px">
        </div>
      </div>
  </div>