<div class="container-fluid">
    <div class="row">
        <div class="list-group">
          <div class="row p-4">
            <h1>Todos los Psicologos</h1>
            <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Especialidad</th>
                    <th>Ciudad</th>
                    <th></th>
                    <th>Eliminar</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let psicologo of listPsicologos">
                      <td></td>
                      <td>{{psicologo.nombre}}</td>
                      <td>{{psicologo.tratamientos}}</td>
                      <td>{{psicologo.ciudad}}</td>
                      <td></td>
                      <td><button (click)="eliminarPsico(psicologo)">Eliminar</button></td>
                      <td></td>
                    </tr>
                </tbody>
                </table>
        </div>   
            
          </div>
    </div>
</div>
