<div class="container dashboard">
    <div class="row">
            <div class="sidemenu">
                <ul class="sidemenuelements">
                    <a href="#"><li>Perfil</li></a>
                    <a href="#"><li>Menú principal</li></a>
                    <a href="#"><button class="boton-menu"><li>Próximas Citas</li></button></a>
                    <a href="#"><li>Mensajes</li></a>
                    <a href="#"><li>Pacientes</li></a>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <h6>
                    Bienvenido/a Paciente     PROXIMAS CITAS
                </h6>
                
            </div>
        </div>
    </div>
